= content_for :cloudinary_bind do
  :javascript
    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
      $('#busker-image-preview').html(
        $.cloudinary.image(data.result.public_id,
          { format: data.result.format, version: data.result.version,
            crop: 'fill', width: 120, height: 120, gravity: 'faces' })
      );
      $('#busker_image_id').val(data.result.public_id);
      return true;
    });

= content_for :footer do
  = cloudinary_js_config
  = yield :cloudinary_bind

= form_for @busker do |f|
  - if @busker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@busker.errors.count, "error")} prohibited this busker from being saved:"
      %ul
        - @busker.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name
  .field
    = f.text_area :description
  .field
    = f.hidden_field :image_id
    = cl_image_upload_tag(:image_id)
    #busker-image-preview
      - if @busker.image_id.present?
        = cl_image_tag(@busker.image_id, :crop => :fill, :width => 120, :height => 120, :gravity => :faces)
  .field
    = f.text_field :facebook, prefix: { value: 'http://facebook.com/', small: 2, large: 3 }
  .field
    = f.text_field :twitter, prefix: { value: 'http://twitter.com/', small: 2, large: 3 }
  .field
    = f.text_field :website
  .actions
    = f.submit 'Save'
