= content_for :footer do
  = javascript_include_tag 'home.js'
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?callback=load_storm_map"

.row
  .columns.medium-12
    .panel
      %h2
        Busker Tracker
      %p
        Get the lowdown on street performers as they play.

.row
  .columns.medium-8
    %section
      .row
        .columns.medium-12
          %h3
            Latest busker
      .row
        .columns.medium-8
          %p
            = link_to Busker.last.name, Busker.last
            is the most recent artist profiled in the
            = succeed '.' do
              = link_to 'Busker database', buskers_path
          %p
            = Busker.last.description
        .columns.medium-4
          - if Busker.last.image_id.present?
            = link_to cl_image_tag(Busker.last.image_id, :crop => :fill, :width => 200, :height => 200), Busker.last
          - else
            = 'no image'

    %hr

    %section
      .row
        .columns.medium-12
          %h3
            Contribute
      .row
        .columns.medium-12
          %p
            We rely on submissions,
            = link_to 'share details of a local busker', new_busker_path
            today.

    %hr

    %section
      .row
        .columns.medium-12
          %h3
            Forthcoming features
      .row
        .columns.medium-4
          #map
        .columns.medium-8
          %p
            Discover street performances as we do - as they take place outside our office.

  .columns.medium-4
    %nav
      %h3
        Features
      %ul.side-nav
        %li= link_to 'List Buskers', buskers_path
        %li= link_to 'Add a busker', new_busker_path
