%h1 Listing ratings

%table
  %thead
    %tr
      %th Emotion
      %th Comment
      %th Performance
      %th User
      %th
      %th
      %th

  %tbody
    - @ratings.each do |rating|
      %tr
        %td= rating.emotion
        %td= rating.comment
        %td= rating.performance_id
        %td= rating.user_id
        %td= link_to 'Show', rating
        %td= link_to 'Edit', edit_rating_path(rating)
        %td= link_to 'Destroy', rating, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rating', new_rating_path
