%p#notice= notice

%p
  %b Emotion:
  = @rating.emotion
%p
  %b Comment:
  = @rating.comment
%p
  %b Performance:
  = @rating.performance_id
%p
  %b User:
  = @rating.user_id

= link_to 'Edit', edit_rating_path(@rating)
\|
= link_to 'Back', ratings_path
