%div
  %nav.top-bar{"data-topbar" => "", "role" => "navigation"}
    %ul.title-area
      %li.name
        %h1
          = link_to 'Busker Tracker', root_url
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span
            Menu
    %section.top-bar-section
      %ul.right
        %li.has-dropdown
          %a{href: "#"}
            Buskers
          %ul.dropdown
            %li= link_to 'List Buskers', buskers_path
            %li= link_to 'Add a Busker', new_busker_path
        %li.has-dropdown
          %a{href: "#"}
            Performances
          %ul.dropdown
            %li= link_to 'List Performances', performances_path
            %li= link_to 'Add a Performance', new_performance_path
        %li.has-dropdown
          %a{href: "#"}
            Locations
          %ul.dropdown
            %li= link_to 'List Locations', locations_path
            %li= link_to 'Add a Location', new_location_path
        = render 'navigation/account_links'
      %ul.left
