.row
  .columns.medium-12
    %p#notice= notice

    %p
      %b Start date:
      = @performance.start_date
    %p
      %b End date:
      = @performance.end_date
    %p
      %b Amplified:
      = @performance.amplified?.yesno
    %p
      %b Busker:
      = @performance.busker.name

    = link_to 'Edit', edit_performance_path(@performance)
    \|
    = link_to 'Back', performances_path
