= form_for @location do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .row
    .columns
      .field
        = f.text_field :name
  .row
    .columns
      .field
        = f.text_area :description
  .row
    .columns
      .actions
        = f.submit 'Save'
