!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Busker Tracker: Street performance database"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js" if controller_name == 'pages_controller' && action_name == 'home'
    = csrf_meta_tag

  %body{class: [controller_name, action_name]}

    = render partial: 'navigation/top_bar'

    = yield

    - if controller_name == 'pages_controller' && action_name == 'home'
      :javascript
        google.maps.event.addDomListener(window, 'load', init_storm_map);
